---
transparentnav: false
fixednav: true
logosnav: true
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include topnav.html %}

  {% unless page.notoc %}
  {% include toc.html %}
  {% endunless %}
  <div class="container">
    <div class="row"></div>
    <div class="row">
      {% if page.notoc %}
      <div class="col s12 z-depth-2 content">
      {% else %}
      <div class="col s12 l10 z-depth-2 content">
      {% endif %}
        <h1>{{ page.title }}</h1>
        {% include overview.html %}
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}

  </body>
</html>
