/* Custom Stylesheet */
/** Use this file to override Materialize files so you can update the core Materialize files in the future Made By MaterializeCSS.com */
nav { background-color: #444; }

nav ul a { color: white; }

nav ul a img { height: 64px; }

nav ul li { list-style-type: none; }

nav i.right { float: right; margin-left: -5px; }

nav .navlogo img { height: 64px; padding: 5px; }

nav .navlogo:hover { background-color: rgba(0, 0, 0, 0); }

#toc-sidebar { padding: 3px; }

@media screen and (min-width: 992px) { #toc-sidebar { position: absolute; top: 85px; right: 23px; width: 22%; } }

@media screen and (max-width: 992px) { #toc-sidebar { display: none; } }

#toc-sidebar.fix-scroll { position: fixed; top: 7px; }

#toc-sidebar a { color: #666; }

#toc-sidebar a:hover { text-decoration: underline; font-weight: bold; }

#toc-sidebar ul { margin-bottom: 0px; }

#toc-sidebar ul li { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

#toc-sidebar ul .selected { font-weight: bold; }

#toc-sidebar ul .H1 { margin-left: 0px; }

#toc-sidebar ul .H2 { margin-left: 10px; }

#toc-sidebar ul .H3 { margin-left: 20px; }

.content { background-color: white; padding-bottom: 64px; margin-bottom: 64px; }

.content ul { margin-left: 1.2rem; }

.content ul li { list-style-type: disc; }

.content dl { margin-left: 10px; }

.dropdown-content li > a, .dropdown-content li > span { color: #444; }

h3 code { font-size: 2.5rem; }

@media only screen and (max-width: 600px) { #index-banner .section { top: 0; } }

.icon-block { padding: 0 15px; }

.icon-block .material-icons { font-size: inherit; }

footer.page-footer { margin: 0; background-color: #85BE42; }

.row a { color: blue; }

#funding { margin-bottom: 0px; }

#funding .logos { text-align: center; background-color: white; padding-top: 10px; padding-bottom: 10px; }

code { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; font-size: 13px; color: #333; background: #efefef; border: 1px solid #c7c7c7; border-radius: 2px; padding: 0px 1px; }

pre { color: #efefef; background: #333; padding: 8px 15px; border-radius: 3px; border: 1px solid #c7c7c7; overflow: auto; overflow-y: hidden; }

pre code { color: #efefef; background: #333; text-shadow: 0px 1px 0px #000; margin: 0px; padding: 0px; border: none; }

.center-image { margin: 0 auto; display: block; }

table { line-height: 1.0rem; }

table.border thead { border-bottom: none; }

table.border tbody { border: 1px solid black; }

html { font-size: 90%; }

body { background: #ffffff url("./workshop-common/assets/img/pale_grey_slight_texture.jpg") top left repeat; color: #444; line-height: 1.6; }

.bread { padding-top: 48px; margin: 48px; }

.bread ul { margin-left: 1.2rem; }

.bread ul li { list-style-type: disc; }

.bread dl { margin-left: 10px; }

img.flip { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; }

.transition, .play { -webkit-transition: .5s; -moz-transition: .5s; transition: .5s; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.5, 1); -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.5, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.5, 1); }

.nodec a { font-weight: normal; text-decoration: none; color: #444; }

.topborder { border-top-style: solid; border-color: #444; border-width: 2px; }

.bottomborder { border-bottom-style: solid; border-color: #444; border-width: 2px; }

.button-collapse { color: #85BE42; }

.compact td { padding: 5px; }

.panel-info { border: 1px solid black; }

.panel-info .panel-heading { background-color: #444; color: white; }

.panel-info .panel-heading h3 { font-size: 2rem; margin-top: 0px; }

.panel-info .panel-body { padding-left: 1em; }

.panel-info .panel-body .row { margin-bottom: 5px; }

.panel-info .panel-body ul { margin-top: 2px; margin-bottom: 2px; margin-left: 2rem; }

/** Syntax highlighting styles stolen from github-pages-leap-day theme generated by rouge http://rouge.jneen.net/ original base16 by Chris Kempson (https://github.com/chriskempson/base16) */
.highlight { color: #d0d0d0; }

.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight .w { color: #d0d0d0; }

.highlight .err { color: #151515; background-color: #ac4142; }

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs { color: #888; }

.highlight .cp { color: #f4bf75; }

.highlight .nt { color: #f4bf75; }

.highlight .o, .highlight .ow { color: #d0d0d0; }

.highlight .p, .highlight .pi { color: #d0d0d0; }

.highlight .gi { color: #90a959; }

.highlight .gd { color: #ac4142; }

.highlight .gh { color: #6a9fb5; font-weight: bold; }

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv { color: #aa759f; }

.highlight .kc { color: #d28445; }

.highlight .kt { color: #d28445; }

.highlight .kd { color: #d28445; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 { color: #90a959; }

.highlight .sr { color: #75b5aa; }

.highlight .si { color: #8f5536; }

.highlight .se { color: #8f5536; }

.highlight .nn { color: #f4bf75; }

.highlight .nc { color: #f4bf75; }

.highlight .no { color: #f4bf75; }

.highlight .na { color: #6a9fb5; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx { color: #90a959; }

.highlight .ss { color: #90a959; }

/*# sourceMappingURL=main.css.map */